In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree #For plotting a tree
from sklearn.metrics import classification_report 
from sklearn import preprocessing

In [2]:
df = pd.read_csv("Company_Data.csv")
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
df['Sale'] = np.where(df['Sales']> 8.0, 'High', 'Low')
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Sale
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes,High
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes,High
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes,High
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes,Low
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No,Low
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes,High
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes,Low
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes,Low
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes,Low
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes,High

In [4]:
#Count of duplicated rows
df[df.duplicated()].shape

(0, 12)

In [5]:
data = df.iloc[:,1:]
data

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Sale
0,138,73,11,276,120,Bad,42,17,Yes,Yes,High
1,111,48,16,260,83,Good,65,10,Yes,Yes,High
2,113,35,10,269,80,Medium,59,12,Yes,Yes,High
3,117,100,4,466,97,Medium,55,14,Yes,Yes,Low
4,141,64,3,340,128,Bad,38,13,Yes,No,Low
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,Good,33,14,Yes,Yes,High
396,139,23,3,37,120,Medium,55,11,No,Yes,Low
397,162,26,12,368,159,Medium,40,18,Yes,Yes,Low
398,100,79,7,284,95,Bad,50,12,Yes,Yes,Low
399,134,37,0,27,120,Good,49,16,Yes,Yes,High

In [6]:
#label_encoder = preprocessing.LabelEncoder()
#company['Sale']= label_encoder.fit_transform(company['Sale']) 
#company

In [7]:
company = pd.get_dummies(data.iloc[:,0:10])
company

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [8]:
company['Sale'] = data['Sale'].map({'High':1 ,'Low':0})
company

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,Sale
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1,0
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,0,1,0,0,1,0,1,1
396,139,23,3,37,120,55,11,0,0,1,1,0,0,1,0
397,162,26,12,368,159,40,18,0,0,1,0,1,0,1,0
398,100,79,7,284,95,50,12,1,0,0,0,1,0,1,0
399,134,37,0,27,120,49,16,0,1,0,0,1,0,1,1

In [9]:
company.describe()company.describe()

SyntaxError: invalid syntax (<ipython-input-9-ab8127bd70e9>, line 1)

In [ ]:
#Separating dependent and independent variables
X = company.iloc[:,0:-1]
y = company['Sale']

In [ ]:
X

In [ ]:
y

In [ ]:
X_train, X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=10)

In [ ]:
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(X_train,y_train)

In [ ]:
#PLot the decision tree
tree.plot_tree(model);

In [ ]:
fn=['CompPrice', 'Income','Advertising','Population','Price','Age','Education','ShelveLoc_Bad','ShelveLoc_Good','ShelveLoc_Medium','Urban_No','Urban_Yes','US_No','US_Yes']
cn=['High', 'Low']
fig, axes = plt.subplots(nrows = 1,ncols = 1,figsize = (4,4), dpi=300)
tree.plot_tree(model,
               feature_names = fn, 
               class_names=cn,
               filled = True);

In [ ]:
preds = model.predict(X_test) 
pd.Series(preds).value_counts() # getting the count of each category

In [ ]:
pd.crosstab(y_test,preds)

In [ ]:
# Accuracy 
np.mean(preds==y_test)

In [ ]:
actual_vs_predict = pd.DataFrame({'Actual': y_test,'Prediction': preds})
actual_vs_predict

In [ ]:
print(model.feature_importances_)

Good Shelf Location at store, Price, Advertising, Income and CompPrice are the leading features which generate high sale

In [ ]:
importance = model.feature_importances_
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))
#plot feature importance
plt.bar([x for x in range(len(importance))], importance)
plt.show()